---
const currentPath = Astro.url.pathname;
---

<table style="background-color: #ff6600; padding: 2px;" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td style="width: 18px; padding-right: 4px; padding-left: 4px;">
      <a href="/">
        <div style="width: 18px; height: 18px; border: 1px solid white; display: flex; align-items: center; justify-content: center;">
          <span style="color: white; font-weight: bold; font-size: 13px; line-height: 1;">Y</span>
        </div>
      </a>
    </td>
    <td style="line-height: 12px; height: 10px; padding: 4px;">
      <span class="pagetop">
        <b class="hnname">
          <a href="/" style="color: black; text-decoration: none;">HN HRCB</a>
        </b>
        <span style="margin-left: 10px; font-size: 10pt;">
          <a href="/new" style="color: black;">new</a> |
          <a href="https://news.ycombinator.com/past" style="color: black;">past</a> |
          <a href="https://news.ycombinator.com/newcomments" style="color: black;">comments</a> |
          <a href="/ask" style="color: black;">ask</a> |
          <a href="/show" style="color: black;">show</a> |
          <a href="https://news.ycombinator.com/jobs" style="color: black;">jobs</a> |
          <a href="/article/19" style="color: black;">by article</a> |
          <a href="/dashboard" style="color: black;">dashboard</a> |
          <a href="/about" style="color: black;">about hrcb</a>
        </span>
      </span>
    </td>
  </tr>
</table>
